.button {
    -fx-background-color: #007bff;/* 主色调:蓝色 */
    -fx-text-fill: white;
    -fx-padding: 7px 10px;
    -fx-font-size: 10px;
    -fx-border-radius:3px;
    -fx-effect: dropshadow(gaussian,rgba(0 0 0 0.3)5 0 1 1);
    -fx-cursor: hand;/* 鼠标悬停变成手指 */
    -fx-transition: background-color 0.3s;/*添加过渡效果 */
}